$def with (content)
<!doctype html>
<html>
  <head>
    <title>Markdown Website</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/2.0.2/octicons.min.css">

  </head>
  <body>

    <ul class="nav nav-pills">
        <li><a href="/">Home</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/contacts">Contacts</a></li>
    </ul>

    $:content
  </body>
</html>
